html{
    background-color: #090c1b;
}

body{
    background-image: url(../img/mainBG.png);
    background-size: cover;
    height: fit-content;
    position: relative;
    padding-top: 200px;
    overflow: auto;
    margin: 0;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav_bar{
    width: 85%;
    background-color: #ffffff1e;
    height: fit-content;
    margin: auto; 
    margin-top: 15px; 
    border-radius: 20px;
    border: 1px solid #ffffff39; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.339);
    font-weight: 600;
    color: rgba(255, 255, 255, 0.616);
    font-family: "Almarai";
    margin-bottom: 100px;
    position: fixed;
    top: 0;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 23px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.466);
    font-family: "Nunito sans";
    min-width: 110px;

}
.logo p{
    margin: 0;
}
.logo i{
    font-size: 30px;
    color: #7c54f7;
    text-shadow: 0 0 10px #7c54f7;
}
.headerUL{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    font-size: 20px;
}
.headerUL li{
    cursor: pointer;
}
.up_ul{
    width: 500px;
    display: flex;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.377);

}
.headerUL li{
    transition: all .5s;
}
.headerUL li:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.842);

}

.btn-free button{
    color: white;
    background-color: #7c54f7;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 20px;
    box-shadow: 0 0 10px #7c54f7;
    font-family: "Almarai";
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.723);
    cursor: pointer;
    min-width: 128px;

}
.start_section{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    align-items: center;
    /* margin-top: 300px; */
}
.start_section img{
    width: 440px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.398);

}
.start_section h1{
    color: rgba(255, 255, 255, 0.883);
    font-size: 46px;
    font-family: "Almarai";
    max-width: 550px;
    width: fit-content;
    text-align: end;
    margin: 0;

    text-shadow: 0 0 5px rgba(255, 255, 255, 0.673);
}
.start_section  p{
    margin: 20px 0 45px 0;
    color: rgba(255, 255, 255, 0.504);
    text-align: end;
    font-family: "Almarai";
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.425);
    max-width: 480px;
    line-height: 2;
}
.two_btn{
    display: flex;
    gap: 15px;
}
.btn_letsStart, .btn_watch{
    padding: 10px 25px;
    font-family: "Almarai";
    color: white;
    background-color: #7c54f7;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px #7c54f7;
    
}
.btn_watch{
    background-color: #f86194;
    box-shadow: 0 0 10px #f86194;

}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-wrap: wrap;
    
}
.card{
    width: 330px;
    height: 275px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.329), rgba(255, 255, 255, 0.138),rgba(255, 255, 255, 0.138), rgba(255, 255, 255, 0.329));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Almarai";
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.398);
}
.card i{
    font-size: 45px;
    color: #f86194;
    text-shadow: 0 0 10px #f86194;
}
.brain{
    color: #7c54f7 !important;
    text-shadow: 0 0 10px #7c54f7 !important;

}
.card h2{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.856);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.609);
    margin: 0;
}
.card p{
    max-width: 250px;
    text-align: center;
    color: rgba(255, 255, 255, 0.46);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.632);
    margin: 0;
}
.users_status ,.getStart{
    color: white;
    display: flex;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.329), rgba(255, 255, 255, 0.138),rgba(255, 255, 255, 0.138), rgba(255, 255, 255, 0.329));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.425);
    width: 80%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    font-family: "Almarai";
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
    padding-bottom: 30px;


}
.users_status div{
    text-align: center;
}
.users_status h3{
    font-size: 70px;
    color: #7c54f7;
    text-shadow: 0 0 10px #7c54f7;
    padding: 0;
    margin: 0;
}
.users_status p{
    font-size: 20px;
    margin: 0;
    color: rgba(255, 255, 255, 0.784);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.502);
}
.users_status::after{
    content: "";
    position: absolute;
    top: -100px;
    width: 700px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 0 10px 30px #f8619396;

}
.users_status::before{
    content: "";
    position: absolute;
    bottom: -100px;
    width: 700px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 0 -10px 30px #7d54f7a7;

}
.n98{
    color: #f86194 !important;
    text-shadow: 0 0 10px #f86194 !important;

}
.free_card{
    position: relative;
    width: 300px;
    height: 460px;
    font-family: "Almarai";
    padding: 10px 30px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.329), rgba(255, 255, 255, 0.138),rgba(255, 255, 255, 0.138), rgba(255, 255, 255, 0.329));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px #7d54f77f;

}
.free_card h3{
    text-align: center;
    color: rgba(255, 255, 255, 0.768);
    font-size: 45px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.788);
    margin-bottom: 0;
    margin-top: 5px;
}
.free_card div{
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.free_card p{
    color: rgba(255, 255, 255, 0.421);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.449);
}
.free_card i{
    color: #f86194;
}

.free_card .card_btn{
    /* margin: auto; */
    width: 70%;
    padding:  15px 0;
    border: 3px solid #7d54f767 ;
    box-shadow: 0 0 2px #7c54f7;
    font-family: "Almarai";
    color: white;
    font-size: 25px;
    border-radius: 10px;
    background-color: #ffffff00;
    cursor: pointer;
    transition: all .5s;
    margin:  auto;
    position: absolute;
    bottom: 30px;
    margin: auto;
    text-align: center;

}
.free_card .card_btn:hover{
    background-color: #7c54f7;
    box-sizing: none;
    
}
.subscrib{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    margin-bottom: 150px;
    justify-content: center;
}
.sub_card  button{
    width: 70%;
    padding:  15px 0;
    border: 3px solid #f8619398 !important;
    box-shadow: 0 0 2px #f86194 !important;
    font-family: "Almarai";
    color: white;
    font-size: 25px;
    border-radius: 10px;
    background-color: #ffffff00;
    cursor: pointer;
    transition: all .5s;
    margin:  auto;
    position: absolute;
    bottom: 30px;
    margin: auto;
    text-align: center;
}


.free_card h3{
    text-shadow: 0 0 10px gray ;
}
.sub_card h3{
    text-shadow: 0 0 5px rgba(255, 217, 0, 0.749) ;
}

.sub_card .card_btn:hover{
    background-color: #f86194;
    box-sizing: none;
    
}
.sub_card{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 50px #f8619364;
}

.getStart{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #0a0a243c;
    position: relative;
    margin-bottom: 100px;
}
.getStart::after{
    content: "";
    position: absolute;
    bottom: -500px;
    right: -500px;
    opacity: 0.5;
    width: 500px;
    height: 500px;
    background-image: radial-gradient(#7d54f77a, #7d54f750);
    border-radius: 50%;
    box-shadow: -250px -250px 100px #7d54f797;
}
.getStart::before{
    content: "";
    position: absolute;
    top: -500px;
    left: -500px;
    opacity: 0.5;
    width: 500px;
    height: 500px;
    background-image: radial-gradient(#7d54f77a, #7d54f750);
    border-radius: 50%;
    box-shadow: 250px 250px 100px #f8619365;
}
.getStart h2{
    font-size: 55px;
    max-width: 600px;
    color: rgba(255, 255, 255, 0.823);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.668);
    text-align: center;
}
.getStart button{
    font-family: "Almarai";
    border: none;
    border-radius: 25px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.712);
    font-size: 21px;
    cursor: pointer; 
    box-shadow: 
    -15px 0 30px -5px rgba(124, 108, 250, 0.5), 
    15px 0 30px -5px rgba(250, 108, 154, 0.5);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-image: linear-gradient(to right, #7c54f7, #f86193);
}
footer{
    color: white;
    width: 90%;
    margin: auto;
    font-family: "Almarai";
}
.footer-content{
    display: flex;
    color: white;
    gap: 10px;
}
footer ul{
    padding: 0;
    list-style:none;
}
footer li{
    margin-bottom: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.466);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.293);
}

.footer-column{
    flex-grow: 1;
    text-align: end;
}

footer h4{
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.549);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-web{
    display: flex;
    gap: 15px;
}

.footer-web i{
    cursor: pointer;
}

@media (max-width: 900px ) {
    .headerUL{
        display: none;
    }
    .start_section{
        flex-direction: column;
    }
    .two_btn{
        margin: auto;
    }
    .small_container{
        margin: 0 30px;
    }
}
@media (max-width: 550px ) {
    
    .start_section img{
        width: 85%;
        margin: auto;
    }
    .imgDiv{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav_bar{
        width: 70%;
    }
}
@media (max-width:670px) {
    .users_status{
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        padding: 20px 50px;
        gap: 50px;
    }
}




